* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.card {
  flex-direction: column;
  justify-content: space-between;
  max-width: 300px;
}

form {
  @media (width < 1100px) {
    flex-wrap: wrap;
    gap: 15px;
    margin: 0;
  }

  max-width: 1000px;
  gap: 50px;
}
