* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.flex-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 2vw;
  gap: 15px 15px;
}

.card {
  flex-direction: column;
  justify-content: space-between;
  max-width: 300px;
}
